.container-card-order {
  align-items: initial;
  border: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: initial;
}

.card-order {
  align-items: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: 120px;
  justify-content: space-between;
  margin: 40px;
  padding: 0;
  width: 350px;
}

.status {
  align-content: center;
  border: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 114px;
  justify-content: center;
  line-height: 25px;
  text-align: center;
  width: 120px;
}

.container-data {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 230px;
}

.order {
  background-color: #d0ddd7;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 #a0a0a0;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  width: 70px;
}

.order-id {
  font-size: 20px;
}

.date-price {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date, .price {
  align-content: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 #a0a0a0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 30px;
  justify-content: center;
  margin: 5px;
  text-align: center;
  width: 90px;
}

.container-data-address {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.address {
  font-weight: 200;
  margin: 5px;
}
