.container-seller-customer-details {
  align-items: center;
  background-color: white;
  border: 5px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px auto;
  width: 80%;
}

.order-details {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px 0;
  width: 100%;
}

.details-id, .seller-customer, .details-date, .details-status {
  align-content: center;
  background-color: #d0ddd7;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  line-height: 25px;
  text-align: center;
  width: 150px;
}

.seller-customer {
  width: 250px;
}

.details-status {
  font-weight: 600;
}

.change-status:enabled {
  align-items: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 2px 3px 5px 0 #a0a0a0;
  color: black;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.change-status:disabled {
  align-items: center;
  background-color: white;
  border: 3px solid #d0ddd7;
  border-radius: 8px;
  box-shadow: 2px 2px 3px 0 #a0a0a0;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.change-status:active {
  align-items: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 0 #a0a0a0;
  color: black;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.details-total-price {
  align-content: center;
  background-color: black;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  height: 40px;
  justify-content: center;
  line-height: 25px;
  margin: 20px 0;
  padding-top: 12px;
  text-align: center;
  width: 300px;
}
