img {
  max-height: 200px;
}

.loginContainer {
  align-items: center;
  background: #6C7A89;
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.formBox {
  display: flex;
  flex-direction: column;
  min-width: 425px;
  min-height: 444px;
  background-color: #B1C2BE;
  border: 1px solid #B1C2BE;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

#loginButton {
  top: 2em;
  height: 59px;
  width: 370px;
  border-radius: 0.5em;
  border-color: #036B52;
  background-color: #036B52;
}

#newUserBtn {
  top: 2em;
  height: 59px;
  width: 370px;
  border-radius: 0.5em;
  border-color: #036B52;
  color: #036B52;
}

.hide {
  padding: 20px;
  height: 59px;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  margin: 45px 0px;
}

#header {
  margin: 0;
  background-color: #036B52;
  display: flex;
  Width: 100%;
  Height: 100px;
}

#logoutBtn {
  font-size: large;
  position: relative;
  width: 100px;
  background-color: #7B61FF;
  color: white;
  border: 0;
  justify-self: right;
  justify-content: center;
  font-weight: bolder;
  float: right;
}

#divUserName {
  font-size: x-large;
  align-items: center;
  background-color: #421981;
  color: white;
  display: flex;
  float: right;
  font-weight: bold;
  justify-content: center;
  justify-self: right;
  position: relative;
  width: 200px;
}

.div-products-card {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-card {
  margin: 20px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 400px;
  height: 350px;
  /* margin: auto; */
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.363);
  flex-direction: column;
  align-content: center;
}

.divImg {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  max-height: 200px;
  margin-left: 125px;
  z-index: -1;
  align-items: center;
}

.divPriceProduct {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
  background-color: white 0, 100%, 90%, 0.3;
}

.inputQnt {
  width: 40px;
  height: 40px;
  text-align: center;
}

.divProductName {
  font-weight: bold;
}

.products-box-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#role {
  color: white;
  background-color: #2FC18C;
  font-size: x-large;
  align-items: center;
  display: flex;
  float: right;
  font-weight: bold;
  justify-content: center;
  justify-self: right;
  position: relative;
  width: 200px;
  text-decoration: none;
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
